<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                TinyApp
            </a>
            <% if (username) { %>
                <div>
                    <a href="/urls/new">Make a new short url</a>
                </div>
            <% } %>
        </div>

        <!-- IF USER ISN'T LOGGED IN -->
        <% if (!username) { %>
        <a href="/register">Register Now!</a>
        <form action="/urls/login" method="POST" style="margin-top: 20px">
            <input id="username" type="email" name="email" placeholder="Enter your username">
            <input type="password" name="password" placeholder="Enter password" style="max-width: 200px; height: 100%">
          <input type="submit" value="login">
        </form>
        <% } %>

        <!-- IF USER IS LOGGED IN -->
        <% if (username) { %>
        <span>Hello, </span>
        <strong><%= username %></strong>
        <form action="/urls/logout" method="POST">
        <input type="submit" value="logout">
        </form>


        <ul class="nav navbar-nav" style="list-style:none; padding: 0;">
            <li><a href="/urls">URL Database</a></li>
        </ul>
        <% } %>
    </div>
</nav>