<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                TinyApp
            </a>
            <div>
                <a href="/urls/new">Make a new short url</a>
            </div>
        </div>

        <% if (username) {
        %> Hello, <strong><%= username %></strong>
        <% } %>


        <% if (username) { %>
            <form action="/urls/logout" method="POST">
          <input type="submit" value="logout">
        </form>
         <% } else { %>
        <form action="/urls/login" method="POST">
          <input id="username" type="text" name="username" placeholder="Enter your username">
          <input type="submit" value="login">
        </form><% } %>

        <ul class="nav navbar-nav" style="list-style:none; padding: 0;">
            <li><a href="/urls">URL Database</a></li>
        </ul>
    </div>
</nav>