<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                EJS Is not Fun
            </a>
            <div>
            <a class="button" href="/urls/new">
                Make a new short url
            </a>
            </div>
        </div>
        <ul class="nav navbar-nav" style="list-style:none">
            <li><a href="/urls">URL Database</a></li>
        </ul>
    </div>
</nav>